body, html {
    min-width: 320px;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    padding-top: 0;
    margin: 0;
    font-family: Verdana, Arial;
}

body {
    padding-top: 60px;
}

footer {
  background-color: #000000;  
  font-size: 16px;
  color: #ffffff;
}
.navbar-offset {
   top: 25px; /*Offsets the top navbar 37px from the top of the viewport*/
}

.navbar-header{
  height: 60px;
  margin: 0;
}

.navbar-brand {
  width: 160px;
  margin: 0;
}

.container-fluid.scrollable {
  height: 94%; /*Sets the scrollable area to 100% of the viewport*/
  overflow: auto; /*Allows the scrollable area to have a scrollbar based on the height of its content*/
  margin: 0;
}

.nopad {
    padding: 0;
    margin: 0;
}

.buttons {
    padding : 5px 5% 0 5%;
}

.quote {
    padding: 5%;
}

.myLocation, .forecast {
    font-size: 20px;
    font-family: Calibri, Arial;
    color: #111111;
    text-align: justify;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
    overflow: hidden;
}

@media (max-width:990px) {
}

@media (max-width:768px) {
}

@media (max-width:480px) {
}

